.banner-items h1{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--c3);
    font-weight: bold;
    filter: brightness(120%);
}
.banner-items h2{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--c3);
    filter: brightness(120%);
}
.banner-items{
    color: var(--c3);
}

/* Introduction */
.banner-items:nth-child(1){
    display: grid;
    grid-template-columns: minmax(20rem ,1fr) 2fr;
    grid-template-rows: 100%;
}
.banner-items:nth-child(1)>aside{
    position: relative;
}
.banner-items:nth-child(1)>aside>.tags{
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}
.tags>.tag-items{
    padding: 1px 2px;
    background: var(--c1);
    border-radius: 5px;
    transition: var(--slideSpeed);
    z-index: 100;
}
.tags>.tag-items:hover{
    background: var(--c4);
}

.banner-items:nth-child(1)>.intro-info{
    flex-grow: 1;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-rows: 3rem 3rem 1fr 5rem;
    row-gap: 0.5rem;
    align-items: center;
}
.intro-info>h1:hover:after{
    content: '이하의 영역은 스크롤이 가능합니다';
    position: absolute;
    font-size: 0.5rem;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}
.intro-info>h1:hover ~ .intro-greet{
    background: var(--c2);
    border-radius: 5px;
    transition: 0.3s;
}

.intro-greet{
    padding: 2px 2rem 2px 2px;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.intro-greet::-webkit-scrollbar{
    display: none;
}
.intro-greet>p{
    text-indent: .5rem;
    margin-bottom: 10px;
}

.intro-details{
    height: 100%;
    display: grid;
    justify-items: end;
}
.intro-details>span{
    height: 2rem;
}
.intro-details>span>a{
    text-decoration: none;
    color: var(--c3);
}
.intro-details>span>a:hover{
    color: var(--c4);
}
.intro-link{
    width: 10rem;
    height: 3rem;
    text-align: center;
    border-radius: 10px;
    background: var(--c4);
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-link:hover {
    filter: brightness(120%);
}
.intro-link:active{
    background: var(--c3);
}

/* Growth */
.banner-items:nth-child(2){
    display: grid;
    grid-template-rows: 2.5rem 2fr 2.5rem 1.5fr;
    padding: 10px 40px;
}
.banner-items:nth-child(2) h2{
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-items:nth-child(2) ul{
    transition: 0.2s ease;
}
.banner-items:nth-child(2) h2:hover:after{
    content: '이하의 영역은 스크롤이 가능합니다';
    position: absolute;
    font-size: 0.5rem;
    bottom: 0;
    right: 0;
}
.banner-items:nth-child(2) h2:hover + ul{
    background: var(--c2);
    border-radius: 5px;
}
.banner-items:nth-child(2) li:hover{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--c2);
}
.growth{
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.growth::-webkit-scrollbar{
    display: none;
}
.growth>li{
    display: grid;
    grid-template-columns: 5rem 5rem 1.5fr 2fr 1fr;
    grid-template-rows: 2.5rem;
    border-bottom: 1px solid var(--c2);
    justify-items: center;
    align-items: center;
    transition: 0.2s ease;
}
.award{
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.award::-webkit-scrollbar{
    display: none;
}
.award>li{
    display: grid;
    grid-template-columns: 6.5rem 3fr 1fr 0.75fr;
    grid-template-rows: 2.5rem;
    row-gap: 0.5rem;
    border-bottom: 1px solid var(--c2);
    justify-items: center;
    align-items: center;
    transition: 0.2s ease;
}
.award>li>span, .growth>li>span{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

/* Recent Project */
.banner-items:nth-child(3){
    display: grid;
    grid-template-rows: 2.5rem 1fr;
    padding: 10px 10px 10px 40px;
    gap: 10px;
}
.banner-items:nth-child(3) h2{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recent{
    display: grid;
    grid-template-columns: 25rem 1fr;
    gap: 10px;
    justify-items: center;
}
.recent>aside{
    position: relative;
    width: 100%;
    height: 22.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recent>aside>div{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recent>aside img{
    position: relative !important;
    height: auto !important;
}
.recent>aside>h3{
    position: absolute;
    width: 80%;
    height: 25%;
    background: var(--c1);
    bottom: -12.5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.25rem;
    z-index: 1;
}
.recent-details{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recent-details>h3{
    font-size: 1.5rem;
}
.recent-details h4{
    margin-bottom: 5px;
    font-size: 1.125rem;
}
.recent-details h4:before{
    content: '-';
    padding-right: 5px;
}
.recent-icons{
    display: flex;
}
.recent-icons>span{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.recent-item>img{
    position: static !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
}
.recent-etc{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}