@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
*{
    box-sizing: border-box;
}
.main-header{
    display: grid;
    grid-template-columns: 200px 1fr;
}

.main-header>h1{
    text-align: center;
    text-decoration: none;
    color: #497174;
    font-weight: bolder;
}