@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import "defaultColor.css";
.main-header{
    display: grid;
    grid-template-columns: 200px 1fr;
}
.main-header>h1{
    text-align: center;
    text-decoration: none;
    color: var(--c3);
    font-weight: bolder;
}