@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import "defaultColor.css";
/*@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto:wght@100&display=swap');*/
@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: "seolleimcool-SemiBold", sans-serif;
    font-style: normal;
}
.main-header{
    display: grid;
    grid-template-columns: 15rem 0.5rem 1fr;
    gap: 0.625rem;
    align-items: center;
    height: 4.5rem;
}
.main-header>h1{
    text-align: center;
    text-decoration: none;
    color: var(--c3);
    font-weight: bolder;
    font-size: 1.5rem;
}
.main-header a{
    text-decoration: none;
    color: var(--c3);
    transition: 0.1s ease;
}
.main-header a:hover{
    color: var(--c4);
    border-bottom: 2px solid var(--c4);
}


.main-header-section-line{
    height: 3.5rem;
    width: 1px;
    border: 2px solid var(--c4);
    border-radius: 2px;
    justify-self: center;
}

.main-header>nav{
    display: grid;
    grid-template-columns: repeat(2,150px);
    justify-items: center;
    align-items: center;
    /*height: 75px;*/
}
.main-header>nav>a{
    height: 2rem;
    font-size: 1.25rem;
}
.toastui-editor-contents p {
    font-size: 1.1rem !important;
}
.toastui-editor-contents img{
    max-height: 45rem !important;
    max-width: 45rem !important;
}
main{
    min-width: 50rem;/*800px*/
}