.project_category_selecter{
    display: grid;
    grid-template-columns: 3rem auto 3rem;
}
.project_langs, .project_skills{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 3.2rem;
}
.project_langs{
    border-bottom: 0.2rem solid var(--c3);
}

.project_category_icon{
    width: 3rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0;
    height: 3rem;
    border: 0.2rem solid var(--c3);
    border-radius: 50%;
}
.project_category_icon:hover{
    transition: all 0.3s;
    border: 0.4rem solid;
}

.project_icon_selected{
    border: 0.2rem solid var(--c4);
}

.fa-circle-arrow-right:hover, .fa-circle-arrow-left:hover{
    color: var(--c4);
    transition: all 0.3s;
}

.fa-circle-arrow-right, .fa-circle-arrow-left{
    color: var(--c3);
}


